<%= form_with(model: clip, class: "contents") do |form| %>
  <% if clip.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(clip.errors.count, "error") %> prohibited this clip from being saved:</h2>

      <ul>
        <% clip.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    
    <div data-controller="dictaphone">
        <section class="main-controls bg-blue-500 text-blue-500" >
        <canvas class="visualizer" height="60px"></canvas>
        <div id="buttons">
          <button class="record">Record</button>
          <button class="stop">Stop</button>
        </div>
        </section>

        <section class="sound-clips">

        </section>

      <div class="my-5">
        <audio id="player" controls></audio>
        <%= form.label :audio %>
        <%= form.file_field :audio, class: "block mt-2 h-5 w-5" %>
      </div>

    </div>

  
   
   
    
  
     <div class="my-5">
      <%= @sentence.content %>
    </div>

    <div class="my-5">
      <%= form.hidden_field :sentence_id, value: @sentence.id, class: "block mt-2 h-5 w-5" %>
    </div>

    


  <div class="my-5">
    <%= form.label :is_valid %>
    <%= form.check_box :is_valid, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :need_votes %>
    <%= form.check_box :need_votes, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
