
<div data-controller="recorder">
  <%= form_with(model: clip, class: "contents") do |form| %>
    <% if clip.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(clip.errors.count, "error") %> prohibited this clip from being saved:</h2>

      <ul>
        <% clip.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="flex container items-center justify-center">
      <span class="mr-1">Click</span>
      <p class='text-slate-500'>Veuiller prononcer à hautre voix la traduction en Fongbé</p>
    </div>     
    <div class="relative form-group mb-6 mt-10 flex h-80 w-full items-center justify-center border-solid bg-blue-100 p-10 shadow-lg text-slate-600">
      <button class="text-xl absolute bottom-1 left-1 bg-white rounded-full hover:bg-green-500">Skip(passer)</button>
      <p class="text-xl"><%= @sentence.content %></p>
    </div>
    <div class="form-group mb-6 ">
    </div>
   
  

     <div class="flex items-center justify-center flex-wrap">
        <div class="form-group mb-6">
              <i class="start-recording-button
              text-5xl text-red-500
              cursor-pointer
              mr-5
              fa fa-microphone" aria-hidden="true" data-action="click->recorder#startAudioRecording"
              data-recorder-target="microphoneButton"></i>
              <div class="recording-contorl-buttons-container hidden flex" data-recorder-target="recordingControlButtonsContainer">
                <i class="cancel-recording-button text-5xl text-red-500 fa-solid fa-circle-xmark hover:text-red-300" aria-hidden="true" data-action="click->recorder#cancelAudioRecording"></i>
                  <p  class="elapsed-time text-5xl">----<p>
                <i class="stop-recording-button text-5xl text-green-500 mr-5 fa-solid fa-circle-stop hover:text-green-300" aria-hidden="true" data-action="click->recorder#stopAudioRecording"></i>
              </div>
        </div>
        <div class="form-group mb-6">
          <audio controls class="audio-element hide" data-recorder-target="audioElementSource" data-recorder-target="audioElement">
          </audio>
        </div>
    </div>

     <div class="container flex justify-center items-center">
      <%= form.submit "Soumettre",class: "w-auto
      px-2
      py-2.5
      bg-blue-600
      text-white
      font-medium
      text-xs
      leading-tight
      uppercase
      rounded
      shadow-md
      hover:bg-blue-700 hover:shadow-lg
      focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
      active:bg-blue-800 active:shadow-lg
      transition
      duration-150
      ease-in-out" %>
    </div>

    
    <div class="">
       <%= form.file_field :audio, class:"invisible disabled" %>
    </div>
     <div class="form-group">
      <%= form.hidden_field :sentence_id, value: @sentence.id, class: "disabled" %>
    </div>
  <% end %>
</div>