
<div >
 <% if @sentence.present? %>
  <%= form_with(model: clip, class: "contents") do |form| %>
    <% if clip.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(clip.errors.count, "error") %> prohibited this clip from being saved:</h2>

      <ul>
        <% clip.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="flex container items-center justify-center">
      <span class="mr-1">Click</span>
      <p class='text-slate-500'>Veuillez prononcer à hautre voix la traduction en Fongbe</p>
    </div>     
    <div class="animate__animated animate__bounceInLeft ">
      <div class="animate__rubberBand relative form-group mb-6 mt-10 flex h-80 w-full items-center justify-center border-solid bg-white-100 p-10 shadow-lg text-slate-600">
  <button class="text-xl absolute bottom-1 left-1 bg-black rounded-full hover:bg-green-500 px-4 py-2 shadow-lg">Skip >></button>
  <div class="flex flex-col items-center justify-center w-full">
    <p class="text-xl font-bold mb-4 p-4"><%= @sentence.content_fr if @sentence.present? %></p>
    <div class="bg-blue-100 rounded-lg shadow-lg p-4">
      <p class="text-xl text-center"><%= @sentence.content_fon if @sentence.present? %></p>
    </div>
  </div>
</div>
    </div>
   
    <div data-controller="voice">
      <a class="text-xl"
        id="recordButton"
        data-action="click->voice#startRecording"
        >Record</a>
      
      <button  class="text-xl" 
      data-action="click->voice#stopRecording" id="stopButton" disabled>Stop</button>
      <audio id="audioPlayer"></audio>
    </div>
  

     <div class="flex items-center justify-center flex-wrap">
      
      <div class="form-group mb-6">
          
          <audio controls class="audio-element hide" data-recorder-target="audioElement">
          </audio>
        </div>
        
        <div class="form-group mb-6">
              <i class="start-recording-button
              text-5xl text-red-500
              cursor-pointer
              mr-5
              fa fa-microphone"
              aria-hidden="true" 
              data-action="click->recorder#startAudioRecording"
              data-recorder-target="microphoneButton">
              </i>

              <div class="recording-contorl-buttons-container hidden flex" data-recorder-target="recordingControlButtonsContainer">
                <i class="cancel-recording-button text-5xl text-red-500 fa-solid fa-circle-xmark hover:text-red-300" aria-hidden="true" data-action="click->recorder#cancelAudioRecording"></i>
                  <p  class="elapsed-time text-5xl" data-recorder-target="elapsedTime">----<p>
                <i class="stop-recording-button text-5xl text-green-500 mr-5 fa-solid fa-circle-stop hover:text-green-300" aria-hidden="true" data-action="click->recorder#stopAudioRecording"></i>
              </div>
        </div>
        
         
    </div>
    

     <div class="container flex justify-center items-center">
      <button type="button" 
        id="yesbutton" 
        class="flex h-12 w-20 items-center justify-center rounded-full bg-black p-3 text-white shadow-lg hover:bg-green-200"
        data-action="recorder#saves">Valider 
      </button>

    </div>

    
    <div class="">
       <%= form.file_field :audio, class:"invisible disabled" %>
    </div>
     <div class="form-group">
    
      <%= form.hidden_field :sentence_id, value: @sentence.id, class: "disabled" %>
      <%= form.hidden_field :user_id, value: current_user.id, class: "disabled" %>
    
    </div>
  <% end %>
 <%else%>   
    Bravo!!!  vous venez d'epuiser toutes les phrases disponibles. L'équipe vous contactera pour 
    cette prouesse 
 <%end%>
</div>