

<div class="flex flex-wrap flex-row">
						                                               
          	<div class="flex-shrink max-w-full px-4 w-full lg:w-1/2">
          		<div class="p-6 bg-white dark:bg-gray-800 rounded-lg shadow-lg mb-6">
          			<div class="flex flex-row justify-between pb-6">
								  <div class="flex flex-col">
		                <h3 class="text-base font-bold">Inscription des Utilisateurs</h3>
		              </div>
		            </div>
	              <div class="relative">
                  <%= line_chart User.group_by_day(:created_at).count, width: "400px", height: "200px"%>
	              </div>
							</div>
						</div>
						<div class="flex-shrink max-w-full px-4 w-full lg:w-1/2">
          		<div class="p-6 bg-white dark:bg-gray-800 rounded-lg shadow-lg mb-6">
          			<div class="flex flex-row justify-between pb-6">
								  <div class="flex flex-col">
		                <h3 class="text-base font-bold">Répartition par sexe des Utilisateurs</h3>
		              </div>
		            </div>
	              <div class="relative">
                  <%= bar_chart User.group(:sex).count, width: "400px", height: "200px", colors: ["#005dbb", "#bb2e00"]%>
	              </div>
							</div>
						</div>
            <div class="flex-shrink max-w-full px-4 w-full lg:w-1/2">
              <div class="p-6 bg-white dark:bg-gray-800 rounded-lg shadow-lg mb-6">
                <div class="flex flex-row justify-between pb-6">
                  <div class="flex flex-col">
                    <h3 class="text-base font-bold">Fréquence de création des audios</h3>
                  </div>
                </div>
                <div class="relative">
                  <%= area_chart Clip.group_by_day(:created_at).count, width: "400px", height: "200px"  %>
                </div>
              </div>
            </div>
            <div class="flex-shrink max-w-full px-4 w-full lg:w-1/2">
              <div class="p-6 bg-white dark:bg-gray-800 rounded-lg shadow-lg mb-6">
                <div class="flex flex-row justify-between pb-6">
                  <div class="flex flex-col">
                    <h3 class="text-base font-bold">Pourcentage de validation des clips</h3>
                  </div>
                </div>
                <div class="relative">
                  <%= pie_chart Clip.group(:is_valid).count, width: "400px", height: "200px", colors: ["#005dbb", "#bb2e00"]%>
                </div>
              </div>
            </div>
            <div class="flex-shrink max-w-full px-4 w-full lg:w-1/2">
              <div class="p-6 bg-white dark:bg-gray-800 rounded-lg shadow-lg mb-6">
                <div class="flex flex-row justify-between pb-6">
                  <div class="flex flex-col">
                    <h3 class="text-base font-bold">Pourcentage des phrases ayant un audio</h3>
                  </div>
                </div>
                <div class="relative">
                  <%= pie_chart Sentence.group(:has_clip).count, width: "400px", height: "200px", colors: ["#babb00", "#5dbb00"]%>
                </div>
              </div>
            </div>
            
 </div>
           
          
         