

	<div class="container w-full  mx-auto px-2">
   <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Liste des Phrases</h1>
    <%= link_to 'Ajouter une Phrase', new_admin_sentence_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
		


<div id="recipients" class="p-4 md:p-8 mt-6 lg:mt-0 rounded shadow bg-white">
  <div class="overflow-x-auto">
    <table id="example" class="table-auto w-full">
      <thead>
        <tr class="bg-gray-100">
          <th class="py-2 px-4 text-left">Corpus</th>
          <th class="py-2 px-4 text-left">Status</th>
          <th class="py-2 px-4 text-left">A un clip</th>
          <th class="py-2 px-4 text-left">Clip Validé</th>
          <th class="py-2 px-4 text-left">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @sentences.each do |sentence| %>
          <tr class="hover:bg-gray-50">
            <td class="py-3 px-4 border"><%=sentence.content_fon %>  }}</td>
            <td class="py-3 px-4 border"><%= sentence.status %></td>
            <td class="py-3 px-4 border"><%= sentence.has_clip %></td>
            <td class="py-3 px-4 border"><%= sentence.has_valid_clips %></td>
            <td class="py-3 px-4 border">
              <%= link_to "Show", admin_sentence_path(sentence), class: "bg-gray-200 hover:bg-gray-300 rounded-lg px-4 block py-2 text-sm font-medium" %>
              <%= link_to 'Edit', edit_admin_sentence_path(sentence), class: "bg-gray-200 hover:bg-gray-300 rounded-lg block mt-1 pt-2 px-4 py-2 text-sm font-medium ml-2" %>
            </td>
          </tr>
        <% end %>
      </tbody>

    </table>
				<%== pagy_nav(@pagy) %>

  </div>
</div>



		<!--/Card-->


	</div>





