

	<div class="container w-full  mx-auto px-2">
   <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Liste des Phrases</h1>
    <%= link_to 'Ajouter une Phrase', new_admin_sentence_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
		


		<!--Card-->
		<div id='recipients' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
			<table id="example" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
				<thead>
					<tr>
						<th data-priority="1">Corpus</th>
						<th data-priority="2">Status[]</th>
						<th data-priority="3">A un clip</th>
						<th data-priority="4">Clip Validé</th>
						<th data-priority="6">Actions</th>
					</tr>
				</thead>
				<tbody>
        <% @sentences.each do |sentence| %>
					<tr>
						<td><%= sentence.content %></td>
						<td><%= sentence.status %></td>
						<td><%= sentence.has_clip %></td>
						<td><%= sentence.has_valid_clips %></td>
						<td> <%= link_to "Show", admin_sentence_path(sentence), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
							<%= link_to 'Edit', edit_admin_sentence_path(sentence), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
						</td>
					</tr>
        <%end%>
				</tbody>

			</table>

		</div>
		<!--/Card-->


	</div>





