<div class=" pb-14 bg-right bg-cover" style="background-image:url('bg.svg');">
	
	<div class="container pt-24 md:pt-5 px-6 mx-auto flex flex-wrap flex-col md:flex-row items-center">
		
		<div class="w-full xl:w-3/5 overflow-y-hidden">
       <%= image_tag "amazone.jpeg", class:"w-5/6 lg:mr-0 slide-in-bottom" %>
		</div>
		
		<div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden">
			<h1 class="my-4 text-2xl md:text-5xl text-gray-800 font-bold leading-tight text-center md:text-left slide-in-bottom-h1">Fongbevi App</h1>
			<p class="leading-normal text-base md:text-xl mb-8 text-center md:text-left slide-in-bottom-subtitle">Ce projet est une initiative de collecte de voix afin d'apprendre aux machines à comprendre la langue Fongbè</p>
			<p class="leading-normal text-base md:text-xl mb-8 text-center md:text-left slide-in-bottom-subtitle">Vous pouvez participer directement au projet sur ce site <span class="text-blue-400 font-bold"><%=link_to "en donnant votre Voix", new_clip_path%></span> ou en <span class="text-blue-400 font-bold"><%=link_to  "Notant autrui",new_vote_path%></span> pour nous aider à valider les enrégistrements</p>
		
			<p class="text-blue-400 font-bold pb-8 lg:pb-6 text-center md:text-left fade-in">Download our app:</p>
			<div class="flex w-full justify-center md:justify-start pb-24 lg:pb-0 fade-in">
        <%=link_to "https://drive.google.com/drive/folders/1zUBXhFLUUW-QdOX07jHim_QLKsceHpZM?usp=share_link" do%>
          <%=image_tag "App Store.svg", class:"h-12 pr-4 bounce-top-icons"%>
        <%end%>
        <%=image_tag "Play Store.svg",class:"h-12 bounce-top-icons"%>
				
      </div>
		
		</div>
		
		<!--Right Col-->
		
	</div>
</div>
