	<nav class=" shadow-lg" data-controller="toggle">
			<div class="max-w-6xl mx-auto px-4">
				<div class="flex justify-between">
					<div class="flex space-x-7">
						<div>
							<!-- Website Logo -->
							<a href="/" class="flex items-center py-4 px-2">
								<span class="font-semibold bg-blue-500 text-white text-lg py-2 px-2 rounded ">
									<i class="fa-solid fa-house blue-500"></i>
									Fongbevi
								</span>
							</a>
						</div>
						<!-- Primary Navbar items -->
						<div class="hidden md:flex items-center space-x-1">
              <%= link_to new_clip_path,:class=>current_clip?(new_clip_path) do%>Enregistrement<i class="ml-2 fa-solid fa-microphone"></i><%end%>
							|
						  <%= link_to new_vote_path, :class => current_voice?(new_vote_path) do%>Ecouter<i class="ml-2 fa-solid fa-play"></i><%end%>
						</div>
					</div>
					<!-- Secondary Navbar items -->
					<div class="hidden md:flex items-center space-x-3 ">
            	<a href="" class="py-4 px-2 text-blue font-semibold hover:text-blue-500 transition duration-300">Contactez-nous</a>
             <% if current_user %>
               <%=link_to "/admin",class:"py-2 px-2 font-medium text-blue-500 text-white rounded hover:bg-blue-500 hover:text-white transition duration-300" do%>Dashboard<%end%>
               <%= button_to "Deconnexion", destroy_user_session_path, class:"py-2 px-2 text-blue-500 text-gray-700 font-medium text-blue-200 rounded hover:bg-blue-500 hover:text-white transition duration-300", data: {turbo: "false"}, method: :delete %>
             <% else %>
            

							<a href="/users/sign_in" class="py-2 px-2 font-medium rounded hover:bg-blue-500 hover:text-white transition duration-300" 
							>
								<i class="fa-solid fa-right-from-bracket"></i>
								Connexion
							</a>
							
            <%end%>
        	</div>
					<!-- Mobile menu button -->
				<div class="pr-0 flex justify-end">
					<div class="md:hidden flex relative inline-block float-right">
							<button class="outline-none mobile-menu-button" data-toggle-target="btn" data-action="click->toggle#toggler">
								<svg class=" w-6 h-6  hover:text-blue-500 "
									x-show="!showMenu"
									fill="none"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									viewBox="0 0 24 24"
									stroke="currentColor"
								>
									<path d="M4 6h16M4 12h16M4 18h16"></path>
								</svg>
							</button>
					</div>
				</div>
			</div>
			<!-- mobile menu -->
			<div class="hidden mobile-menu" data-toggle-target="menu">
				<ul class="list-reset">
          <li><%= link_to new_clip_path,class: "px-4 py-2 block hover:bg-gray-400 no-underline hover:no-underline" do%>Enregistrement<i class="text-red-500 ml-2 fa-solid fa-microphone"></i><%end%></li>
          <li>
              <%= link_to new_vote_path,class: "px-4 py-2 block hover:bg-gray-400 no-underline hover:no-underline" do%>Ecouter<i class="text-green-500 ml-2 fa-solid fa-play"></i><%end%>
          </li>
					<li><a href="#contact" class="px-4 py-2 block hover:bg-gray-400 no-underline hover:no-underline">Contactez-Nous</a></li>

          <div class=" md:flex items-center space-x-3 mb-5">
             <% if current_user %>
               <%=link_to "/admin",class:"px-4 py-2 block hover:bg-gray-400 no-underline hover:no-underline" do%>Dashboard<%end%>
               
               <%= button_to "Deconnexion", destroy_user_session_path, class:"py-2 px-auto block text-red-500 rounded hover:bg-green-500 hover:text-white", data: {turbo: "false"}, method: :delete %>
             <% else %>
							<a href="/users/sign_in" class="px-4 py-2 block hover:bg-gray-400 no-underline hover:no-underline" 
							data-popover-target= "popover-default">
								<i class="text-blue-500 fa-solid fa-right-from-bracket"></i>
								Connexion
							</a>
						<%end%>
					</div>
				
        </ul>
        
			</div>
			<script>
			
			</script>
		</nav>