<div class="mb-10 p-10" data-controller="vote">
<% if @clip.present? %>
<form id="form">
  <% if vote.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
        <% vote.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col items-center justify-center text-slate-500">
  <div class="flex">
    <span class="mr-1">Click</span>
    <p>La phrase associée a t'elle éte bien prononcée?</p>
  </div>
 
<div class="animate__animated animate__bounceInLeft ">
  <div class="pb-5">
    <div class="flex flex-col items-center justify-center w-full">
      <div class="bg-blue-100 rounded-lg shadow-lg p-4">
        <p class="text-l text-center sm:text-sm mb-5"><%= @clip.sentence.content_fon if @clip.sentence.content_fon.present? %></p>
      </div>
    </div>
  </div>
</div>

  <div class="mt-4">
   <audio id="myAudio" controls="true" width="100%" preload="metadata">
      <source src= <%= rails_blob_url(@clip.audio) %>, type=<%= @clip.audio.content_type %> >
    </audio>
  </div>
  
</div>
  <div class="">
    <input
        type="hidden"
        name="clip_id"
        id="clip_id"
        value= <%=@clip.id%>
        class="block mt-2"
      />
      <% if current_user%>
       <input
        type="hidden"
        name="user_id"
        id="user_id"
        value= <%=current_user.id%>
        class="block mt-2"
      />
      <%else%>
        <input
        type="hidden"
        name="user_id"
        id="user_id"
        value=1
        class="block mt-2"
      />
      <%end%>
  </div>

  <div class="flex items-center justify-center space-x-10 mt-5">
      <button type="button" 
      id="yesbutton" 
      class="flex h-12 w-20 items-center justify-between rounded-full bg-green-400 p-3 text-white shadow-lg hover:bg-green-200"
      data-action="vote#upvote">Oui 
      <i class="fa-solid fa-thumbs-up text-black"></i>
      </button>

      <button type="button" 
       id="nobutton" 
      class="flex h-12 w-20 items-center justify-between rounded-full bg-red-500 p-3 text-white shadow-lg hover:bg-red-200" 
      data-action="vote#downvote">
      <i class="fa-solid fa-thumbs-down text-black">
      </i>Non</button>
      
     

  </div>
  <div class="mt-4 flex items-center justify-center space-x-10 mb-10">
    <button class="flex h-12 w-20 items-center justify-between rounded-full  p-3 shadow-lg hover:bg-blue"><i class="fa-solid fa-forward"></i>Skip</button>
   </div>
</form>
 <%else%>   
    Bravo!!!  vous venez de terminer l'expérience. L'équipe vous contactera pour 
    cette prouesse. Veuillez  mettre à jour votre profil
 <%end%>
</div>
 
